<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Neuer Post</h1>
    <form action="/admin/post/create" method="post" enctype="multipart/form-data">
        {{csrfField()}}
        @if(error !=undefined && error.title != '')
        <strong>{{error.title}}</strong><br>            
        @end
        <input type="text" name="title" placeholder="Titel" 
        @if(title != undefined) 
            value="{{title}}"
        @end
        >
        <br>
        @if(error!= undefined && error.teaser != '')
        <strong>{{error.teaser}}</strong><br>            
        @end
        <input type="text" name="teaser" placeholder="Teaser" 
        @if(teaser != undefined) 
        value="{{teaser}}"
            @end
    ><br>
        @if(error!= undefined && error.text != '')
        <strong>{{error.text}}</strong><br>            
        @end
        <textarea name="text" cols="50" rows="20" placeholder="Text">
        @if(text != undefined) 
          {{text}}
        @end
        </textarea><br>
        <input type="file" name="image"><br>
        <input type="submit">
    </form>
</body>
</html>