<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p>erstellt: {{ new Date(post.date).toLocaleDateString() }}</p>
    @if(post.image)
     <img src="{{await driveUrl(post.image, 'fs')}}" height="150">
    @end
    <p>{{ post.teaser }}</p>
    <p>{{ post.text }}</p>
    <p>geschrieben von: {{ firstname }} {{ lastname }}</p>
    <a href="/">zurück zur Übersicht</a>
    @if(user!=undefined)
    <a href="/admin/post/edit/{{ post.id }}">editieren</a>
    @end
</body>
</html>