<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Deine Stimme</h1>
    <ul>
        <li>ja: {{ja}}</li>
        <li>nein: {{nein}}</li>
        <li>vielleicht: {{vielleicht}}</li>
    </ul>
    <a href="/pizzavote">zurück zur Abstimmung</a>
</body>
</html>